@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 231 48% 94%;
    --foreground: 231 20% 25%;
    --card: 0 0% 100%;
    --card-foreground: 231 20% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 20% 25%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 231 48% 88%;
    --secondary-foreground: 231 20% 25%;
    --muted: 231 48% 90%;
    --muted-foreground: 231 20% 45%;
    --accent: 42 100% 50%;
    --accent-foreground: 231 20% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 80%;
    --input: 231 20% 85%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 42 100% 50%;
    --chart-3: 197 37% 44%;
    --chart-4: 210 40% 56%;
    --chart-5: 160 60% 45%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 231 20% 25%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 231 48% 94%;
    --sidebar-accent-foreground: 231 48% 30%;
    --sidebar-border: 231 20% 85%;
    --sidebar-ring: 231 48% 48%;
  }
  .dark {
    --background: 231 20% 12%;
    --foreground: 231 20% 85%;
    --card: 231 20% 16%;
    --card-foreground: 231 20% 85%;
    --popover: 231 20% 12%;
    --popover-foreground: 231 20% 85%;
    --primary: 231-48-55;
    --primary-foreground: 0 0% 98%;
    --secondary: 231 20% 24%;
    --secondary-foreground: 231 20% 90%;
    --muted: 231 20% 24%;
    --muted-foreground: 231 20% 60%;
    --accent: 42 100% 50%;
    --accent-foreground: 231 20% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 30%;
    --input: 231 20% 30%;
    --ring: 231 48% 55%;
    --chart-1: 231 48% 55%;
    --chart-2: 42 100% 50%;
    --chart-3: 197 37% 54%;
    --chart-4: 210 40% 66%;
    --chart-5: 160 60% 55%;
    --sidebar-background: 231 20% 16%;
    --sidebar-foreground: 231 20% 85%;
    --sidebar-primary: 231 48% 55%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 231 20% 24%;
    --sidebar-accent-foreground: 231 20% 90%;
    --sidebar-border: 231 20% 30%;
    --sidebar-ring: 231 48% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
